body {
	margin: 0; padding: 0; 
	overflow: hidden; 
	color: #fff;
	background: #EC9A02;
}

#contener {
	/* position du conteneur */
	position: relative;
	top: 0;
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}

#nav {
	/* le menu en haut */
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 1em 0;
	margin: 0;
	text-align: center;
	background:#000000   ;
}
#nav li {
	display: inline;
	margin:0;
}
#nav a {
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-shadow: 0 0 5px #fff;
	transition: all 1s;
}

/* slides */
#slide1, #slide2, #slide3, #slide4 {
	height: 950px;
	padding-top:100px;
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}

#slide1 { background: url(images/congruent_pentagon.png) center 0 repeat fixed; }
#slide2 { background: url(images/inflicted.png) center 0 repeat fixed; }
#slide3 { background: url(images/X.png) center 0 repeat fixed; }
#slide4 { background: url(images/random_grey_variations.png) center 0 repeat fixed; }

/* Contenus des slides */
.slide_inside {
	width: 50%;
	height: 50%;
	margin: 0 auto;
	position: relative;
	background-color: rgba(255, 0, 0, 0.6);
	padding: 50px;
}

#slide1 .slide_inside {
	margin-top: 0;
	float: left;
}
#slide2 .slide_inside {
	margin-top: 0;
	float: right;
}

#slide3 .slide_inside {
	margin-top: 0;
	float: left;
}

#slide4 .slide_inside {
	float: right;
	margin-top: 0; }


.slide__inside {
	width: 50%;
	height: 50%;
	position: relative;
	background-color: rgba(68, 0, 255, 0.6);
	padding: 50px;
	}
	

#slide_1 .slide__inside  {
	float: right;
	height: 100%;
}

#slide_2 .slide__inside {
		margin-top: 0;
		float: left;
	}
	
#slide_3 .slide__inside {
		margin-top: 0;
		float: right;
	}
	
#slide_4 .slide__inside {
		float: left;
		margin-top: 0; }

/* vers Slide 1 */
#link1:target ~ #contener { top:-50px; }
#link1:target ~ #contener #nav li:first-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link1:target ~ #contener #slide1 { background-position: 50% 0%; }
#link1:target ~ #contener #slide2 { background-position: 50% -35%; }
#link1:target ~ #contener #slide3 { background-position: 50% -60%; }
#link1:target ~ #contener #slide4 { background-position: 50% -60%; }

/* vers Slide 2 */
#link2:target ~ #contener { top:-1100px; }
#link2:target ~ #contener #nav li:  nth-child(2)  + li a {text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603;}
#link2:target ~ #contener #slide1 { background-position: 50% 36%; }
#link2:target ~ #contener #slide2 { background-position: 50% 0%; }
#link2:target ~ #contener #slide3 { background-position: 50% -30%; }
#link2:target ~ #contener #slide4 { background-position: 50% -30%; }

/* vers Slide 3 */
#link3:target ~ #contener { top:-2150px; }
#link3:target ~ #contener #nav li:nth-child(3) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link3:target ~ #contener #slide1 { background-position: 50% 60%; }
#link3:target ~ #contener #slide2 { background-position: 50% 35%; }
#link3:target ~ #contener #slide3 { background-position: 50% 0%; }
#link3:target ~ #contener #slide4 { background-position: 50% 0%; }

/* vers Slide 4 */
#link4:target ~ #contener { top:-3200px; }
#link4:target ~ #contener #nav li: last-child(4) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link4:target ~ #contener #slide1 { background-position: 50% 60%; }
#link4:target ~ #contener #slide2 { background-position: 50% 35%; }
#link4:target ~ #contener #slide3 { background-position: 50% 0%; } 
#link4:target ~ #contener #slide4 { background-position: 50% 0%; }



/* vers Slide 1 */
#link1:target ~ #contener { top:-50px; }
#link1:target ~ #contener #nav li:first-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link1:target ~ #contener #slide_1 { background-position: 50% 0%; }
#link1:target ~ #contener #slide_2 { background-position: 50% -35%; }
#link1:target ~ #contener #slide_3 { background-position: 50% -60%; }
#link1:target ~ #contener #slide_4 { background-position: 50% -60%; }

/* vers Slide 2 */
#link2:target ~ #contener { top:-1100px; }
#link2:target ~ #contener #nav li:  nth-child(2)  + li a {text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603;}
#link2:target ~ #contener #slide_1 { background-position: 50% 36%; }
#link2:target ~ #contener #slide_2 { background-position: 50% 0%; }
#link2:target ~ #contener #slide_3 { background-position: 50% -30%; }
#link2:target ~ #contener #slide_4 { background-position: 50% -30%; }

/* vers Slide 3 */
#link3:target ~ #contener { top:-2150px; }
#link3:target ~ #contener #nav li:nth-child(3) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link3:target ~ #contener #slide_1 { background-position: 50% 60%; }
#link3:target ~ #contener #slide_2 { background-position: 50% 35%; }
#link3:target ~ #contener #slide_3 { background-position: 50% 0%; }
#link3:target ~ #contener #slide_4 { background-position: 50% 0%; }

/* vers Slide 4 */
#link4:target ~ #contener { top:-3200px; }
#link4:target ~ #contener #nav li: last-child(4) a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#link4:target ~ #contener #slide_1 { background-position: 50% 60%; }
#link4:target ~ #contener #slide_2 { background-position: 50% 35%; }
#link4:target ~ #contener #slide_3 { background-position: 50% 0%; } 
#link4:target ~ #contener #slide_4 { background-position: 50% 0%; }


